html
  head
    title= title
    script(src="app.js")
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js", data-main="main")
  body
    block content

  //script(src="//localhost:35729/livereload.js")